site_name: Esubalew Chekol
site_description: Software Engineer & MSc AI Student. Passionate about mathematics, artificial intelligence, and systems programming.
site_author: Esubalew Chekol
site_url: https://esubalew.dev

repo_name: Esubaalew/esubaalew.github.io
repo_url: https://github.com/Esubaalew/esubaalew.github.io
edit_uri: ""

copyright: Copyright &copy; 2025 Esubalew Chekol

theme:
  name: null
  custom_dir: overrides
  favicon: assets/favicon.png

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Esubaalew
      name: GitHub
    - icon: fontawesome/brands/telegram
      link: https://t.me/esubbalew
      name: Telegram
    - icon: fontawesome/brands/x-twitter
      link: https://x.com/esubaalew
      name: X
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/esubaalew
      name: LinkedIn
    - icon: fontawesome/solid/envelope
      link: mailto:esubalewchekol6@gmail.com
      name: Email
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY
  generator: false

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
      toc_depth: 3
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

plugins:
  - search:
      separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - minify:
      minify_html: true
  - git-revision-date-localized:
      enable_creation_date: true
      type: date
      fallback_to_build_date: true

nav:
  - Home: index.md
  - Projects: projects.md
  - Blog:
    - blog/index.md
    - blog/using-run-kit-multi-language-rust.md
    - blog/bridging-rust-python-pyo3.md
    - blog/hosting-django-app-on-cpanel-tutorial.md
    - blog/hosting-telegram-bots-python-free.md
    - blog/skills-vs-grades-university-education.md
  - Resume: resume.md

